{% extends 'base.html.twig' %}

{% block title %}Série #{{ program.id }}{% endblock %}

{% block body %}
    <div class="media">
        <img class="align-self-start mr-3" src="{{program.poster}}" alt="{{ program.title }} poster">
        <div class="media-body">
            <h1 class="mt-0">{{ program.title }}</h1>
            <p>Catégorie : {{ program.category.name }}</p>
            <p>Saison {{ season.number }}</p>

   {% for episode in season.episodes %}
   <div>
    <p>{{ episode.number }} : {{ episode.title }}</p>
        <a href="{{ path("program_episode_show", { program: program.id, season: season.id, episode: episode.id, }) }}">Voir l'épisode</a>
    </div>
    {% else %}
    Aucun épisode trouvé.
    {% endfor %}
        </div>
    </div>

    <a href="{{ path('program_index') }}">
        Retour à la liste des programmes
    </a>
{% endblock %}